<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Editar registro<h2>


    <form action="/edit/<%= data.idlogin%>" method="POST">
        <input type="text" placeholder="Login" value="<%= data.login%>" name="login">
        <input type="text" placeholder="Nome" value="<%= data.nome%>" name="nome">
        <input type="text" placeholder="Sobrenome" value="<%= data.sobrenome%>" name="sobrenome">
        <input type="password" placeholder="Senha" value="<%= data.senha%>" name="senha">
        <button type="submit">Enviar</button>
    </form> 

</body>
</html>